<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=7, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>Heroes de la Programacion</h1>
    <img src="img/eniac" alt="primera computadora">

<ul> <a href="/babbage"><img/babbaje_1.jpg" alt="Charles babbage"></a></ul>
<ul><a href="/berners-lee"><img/Sir_Tim_Berners-Lee_(cropped).jpg" alt="Berners-Lee"></a></ul>
    
<ul><a href="/Clarke"><img/Clarke.jpg" alt="Clarke"></a></ul>
<ul><a href="/hamilton"><img/Hamilton.jpg" alt="Hamilton"></a></ul>
<ul><a href="/Hopper"><img/Hopper.jpg" alt="Hopper"></a></ul>
<ul> <a href="/lovelace"><img/lovelace.jpg alt="Lovelace"></a></ul>
<ul><a href="/Turing"><img/Turing.jpg alt="Turing"></a></ul>


  </body>
</html>