<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=7, initial-scale=1.0">
  <title>Heroes de Informatica</title>

  <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
  <h1>Heroes de la Programacion</h1>


  <ul> <a href="/babbage"><img /babbaje_1.jpg" alt="Charles babbage"></a></ul>
  <ul><a href="/berners-lee"><img /Sir_Tim_Berners-Lee_(cropped).jpg" alt="Berners-Lee"></a></ul>

  <ul><a href="/Clarke"><img /Clarke.jpg" alt="Clarke"></a></ul>
  <ul><a href="/hamilton"><img /Hamilton.jpg" alt="Hamilton"></a></ul>
  <ul><a href="/Hopper"><img /Hopper.jpg" alt="Hopper"></a></ul>
  <ul> <a href="/lovelace"><img /lovelace.jpg alt="Lovelace"></a></ul>
  <ul><a href="/Turing"><img /Turing.jpg alt="Turing"></a></ul>

  <p>El 15 de febrero de 1946, se finalizó la construcción del ENIAC y se realizó la entrega al Cuerpo de Artillería del
    Ejército de Estados Unidos tras 4 años de trabajo. Durante 1946,
    Los tubos de vacío fueron reemplazados más adelante por transistores, menos costosos, de duración más larga y mucho
    más pequeños que los tubos de vacío, y que son usados en la construcción de las computadoras modernas integrados a
    la Unidad Central de Procesamiento (CPU), núcleo principal de las mismas.

    La ENIAC ocupaba un cuarto de aproximadamente 167 m2, pesaba 30 toneladas, era capaz de e​jecutar en un segundo
    aproximadamente 5.000 sumas, 357 multiplicaciones o 38 divisiones. Por su tamaño y complejidad se requería de todo
    un equipo de personas para manipularla. Reprogramarla podía tomar semanas. ​​​</p>



</body>

</html>